<div class="container-fluid my-4">

  <div class="row">
    <div class="col-md-6">
      <h1>Employee List</h1>
    </div>
    <div class="col-md-6 text-right">
      <a routerLink="/create-employee" class="btn btn-lg btn-success">Add new Employee</a>
      </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr class="bg-info text-light">
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th style="width: 180px">Action</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let employee of dataEmployee">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phone }}</td>
        <td>
          <a routerLink="/employee-edit/{{employee.id}}" class="btn btn-warning text-light">Edit</a>&nbsp;
          <a href="#" class="btn btn-danger text-light">Delete</a>
        </td>
      </tr>

    </tbody>
  </table>


</div>
